<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Index Page</title>
</head>
<body>
    <header>
    <h1>Welcome to your Care Tracker!</h1>
    
<% lists.forEach(list => { %>

    <a href="/list/<%=list._id%>">
        <%=list.title %> 
             </a>
        
        <% }) %>
        
        <nav>
        <a href="/list/new">Add a New List</a>
        </nav>
        
        </body>
        </html>