<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/new.css" />
		<title> Care Tracker </title>
	</head>
	<body>

        <nav>
			<a href="/">Home</a>
		</nav>

	<header>
		<h1>Create a new List</h1>
	</header>
    <div class="input">
		<form action="/" method="POST">
			<input type="text" name="title" placeholder="Name of list"/><br />
			<input type="text" name="description" placeholder="Description"/><br />
			<input type="submit" value="Add List" />
		</form>
    </div>
    </body>
</html>
