<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/new.css" />
		<title> Care Tracker </title>
	</head>
	<body>

        <nav>
			<a href="/list">Home</a>
		</nav>

	<header>
		<h1>Create a new List</h1>
	</header>

	<main>
		<form action="/list" method="POST">
			<input type="text" name="title" /><br />
			<textarea name="body"></textarea><br />
            <input type="text" name="item"><br />
			<input type="submit" value="Add List" />
		</form>
	</main>

    </body>
</html>
